
<!-- <ul class="works video-works list-unstyled">
  <li><h5>Comics/Zines</h5></li>
  <li *ngFor="let work of (works | getByType: 'zine')">
    <a *ngIf="work" routerLink="/works/{{work.permalink}}" (click)="refresh()">
      {{work.title}}
    </a>
  </li>
</ul>

<ul class="works video-works list-unstyled">
  <li><h5>Video</h5></li>
  <li *ngFor="let work of (works | getByType: 'video')">
    <a *ngIf="work" routerLink="/works/{{work.permalink}}" (click)="refresh()">
      {{work.title}}
    </a>
  </li>
</ul>

<ul class="works video-works list-unstyled">
  <li><h5>Coding</h5></li>
  <li *ngFor="let work of (works | getByType: 'interactive')">
    <a routerLink="/works/{{work.permalink}}" (click)="refresh()">
      {{work.title}}
    </a>
  </li>
</ul>-->
