<br>
<div class="card col-md-6 col-lg-4">
  <div class="card-body">
    <h6 class="card-title"><strong>04.09.2021</strong> Welcome</h6>
    <p class="card-text">Some mini comics were just dropped. Image captions coming soon!</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">  
      <a 
      id="homepage-mini-comic-dreamwalker-the-high-priestess-awakens"
      routerLink="/works/dreamwalker-thpa">View latest mini comic</a></li>
  </ul>
</div>

<app-illustration></app-illustration>
