<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xl-2 col-sm-5 navbar-container">
      <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
      <app-menu [displayTitle]="displayTitle" [mainMenuData]="mainNav" [socialMenuData]="socialNav"></app-menu>
    </div>
    <div id="content" class="col-md-9 col-xl-10 col-sm-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="text-center" ng-controller="copyController">
  <p>© {{ siteTitle }} {{ date | date: "y"}} </p>
  
  <app-navigation-menu-block
    [items]="footerNav.items"
    [classNames]="[
      {
        ul: ['list-inline', 'items'], 
        li: ['list-inline-item']
      }
    ]">
  </app-navigation-menu-block>
</footer>

