<br>
<h5>
  Status Updates
</h5>
<div class="card col-md-4 col-sm-6">
  <div class="card-body">
    <h6 class="card-title">04.09.2021 Welcome Back</h6>
    <p class="card-text">Some mini comics were just dropped. Image captions coming soon!</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Mood:</strong>  Tired <fa-icon [icon]="faBed" class="sr-hidden" aria-hidden="true"></fa-icon>
    </li>
    <li class="list-group-item">  <a routerLink="/works/dreamwalker-the-high-priestess-awakens">View latest mini comic</a></li>
  </ul>
</div>

<app-illustration></app-illustration>
