
<div class="slideshow" *ngIf="currentImg" 
  [ngStyle]="{'height': isMobileSize() ? 'auto' : desHeight}">

  <div class="overlay-controls left-control" [routerLink]="['/works', imgControls.permalink, albumid, imgControls.prevId ]">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </div>
  <div class="overlay-controls center-control thumbnail-toggle" [routerLink]="['/works', imgControls.permalink, albumid, imgControls.nextId ]">
  </div>
  <div class="overlay-controls right-control" [routerLink]="['/works', imgControls.permalink, albumid, imgControls.nextId ]">
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </div>
  <div class="overlay-controls exit-control">
    <a [routerLink]="['/works', imgControls.permalink ]" class="h5">
        <fa-icon [icon]="faArrowLeft"></fa-icon> Go back
    </a>
  </div>
  <div *ngFor="let image of images; let i = index;"
    [class]="'slide slide-'+ i"
    [ngStyle]="{'height': isMobileSize() ? 'auto' : desHeight}"
    [ngClass]="{
      'active-slide': isCorrectIndex(i)
    }">
      <img [src]="image.asset.url" [alt]="image.caption || ''" class="img-fluid"
      [ngStyle]="{'height': isMobileSize() ? 'auto' : desHeight}">
  </div>
</div>
