.img-zoom-component {
    width: 100%;
}

.img-center-component {
    position: relative;
    height: 100%;
    width: 100%;
}

.img-center-component-inner {
    position: absolute;
    width: 100%;
}

.img-center-component-inner a {
    height: 100%;
    display: block;
}

.img-center-component-inner.stacked {
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: left;
}

.img-center-component-inner img {
    height: calc(100%);
    margin: 0 auto;
    display: block;
}

.img-controls {
    position: absolute;
    width: 100%;
}

.img-controls-element {
    position: absolute;
    width: 100px;
}

.img-controls-next, .img-controls-prev {
    cursor: pointer;
}

.img-controls-next {
    right: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
}

.img-controls-next fa {
    color: #000;
    top: 50%;
    position: absolute;
    right: 15%;
}

.img-controls-prev {
    left: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
}

.img-controls-prev:focus, .img-controls-next:focus {
    outline: none;
}
    
.img-controls-prev fa {
    color: #000;
    left: 0;
    top: 50%;
    position: absolute;
}

.img-controls-exit {
    right: 10px;
    top: 10px;
}

.img-controls-exit a {
    position: absolute;
    right: 0;
    z-index: 2;
}
.img-controls-exit h5 {
    color: #000;
}