
<div class="mt-4 mb-4 container">
  <ng-template [ngIf]="blockContent">
    <ng-template ngFor let-content [ngForOf]="blockContent" let-i="index">
      <ng-template [ngIf]="content._type === 'image'">
        <picture class="mr-3 float-left intrinsic rounded">
          <img alt="" [src]="urlFor(content).width(4)" width="300px">
          <img alt="" [srcset]="urlFor(content).width(300)" class="img-fluid intrinsic-item">
        </picture>
      </ng-template>
      <ng-template [ngIf]="content._type === 'block'">
        <div [innerHTML]="getBlocks(content)"></div>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
