<nav class="navbar  navbar-fixed-top">
  <div class="navbar-header col-md-12">
    <div class="row">
      <div class="col-8">
        <a class="navbar-brand" href="/">
          <h1 class="site-title">Lurn Maxwell</h1>
        </a>
      </div>
      <div class="col-4">
        <button type="button" class="navbar-toggler d-block d-sm-none float-right" (click)="isCollapsed = !isCollapsed"  id="navbar-content">
          <fa [name]="'bars'" [size]="1"></fa>
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="navbar-content navbar-mobile col-md-12 d-block d-sm-none" id="navbar-content" *ngIf="isCollapsed">
    <div class="row">
      <div class="col-12">
        <app-works></app-works>
        <hr class="d-none d-sm-block">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/about">
              <strong>About</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-content navbar-tablet d-none d-sm-block col-md-12" id="navbar-content">
    <div class="row">
      <div class="col-12">
        <app-works></app-works>
        <hr class="d-none d-sm-block">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/about">
              <strong>About</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-extra row d-none d-sm-block">
    <div class="col-12">
      <ul class="items list-inline">
        <li class="list-inline-item">
          <a target="_blank" href="https://www.instagram.com/lur3n/">
            <fa [name]="'instagram'" [size]="1"></fa>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="mailto:mlmxwell@gmail.com">
            <fa [name]="'envelope'" [size]="1"></fa>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
