<nav>
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <h1 class="site-title">Lurn Maxwell</h1>
    </a>
  </div>
  <hr>
  <app-works></app-works>
  <hr>
  <ul class="list-unstyled">
    <li>
      <a routerLink="/about">
        About
      </a>
    </li>
  </ul>
  <ul class="items list-inline">
    <li class="list-inline-item">
      <a target="_blank" href="https://www.instagram.com/lur3n/">
        <fa [name]="'instagram'" [size]="1"></fa>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="mailto:mlmxwell@gmail.com">
        <fa [name]="'envelope'" [size]="1"></fa>
      </a>
    </li>
  </ul>
</nav>
