
<div 
  class="gallery-group" 
  tabindex="0" aria-label="Click to open image gallery" 
  role="button" 
  id="work-album-component" 
  *ngIf="album?.galleryview === true"
  routerLink="/works/{{ work.slug.current }}/{{album._id}}/0">
  <div class="row">
    <div class="col-md-12 gallery-group-link">
      <span class="h5 pull-right">Gallery</span> <fa class="pull-right" [name]="'external-link'" [size]="0"></fa>
    </div>
    <ng-template ngFor let-image [ngForOf]="album.images" let-i="index">
      <div class="gallery-group-image" *ngIf="i < 4" >
        <div class="album-img"> 
          <img class="img-fluid" src="{{image.asset._ref | getImgUrl}}"/>
        </div>
      </div>
    </ng-template>
  </div>
</div>
