a.disabled {
    pointer-events: none;
    cursor: default;
}

.gallery-group-container {
    padding: 2px;
    background-color: #eeeeee;
}

.gallery-group {
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.gallery-group:hover {
    opacity: 0.3;
    cursor: pointer;
}

.gallery-group-link {
    color: #00583f;
    padding-top: 5px;
    padding-bottom: 10px;
}

.gallery-group-link span.h5 {
    padding-left: 5px;
    padding-right: 5px;
}

.gallery-group-link fa {
    padding-left: 5px;
}
.gallery-group-image {
    box-sizing: border-box;
    display: inline-block;
}
.gallery-group-image .album-img {
    background-color: #eee;
    padding:2px;
}
.gallery-group-image .album-img img {
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.gallery-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: -2rem;
}

.gallery-image-container {
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.gallery-bottom-img-container, .placeholder-container {
    padding-bottom: 10px;
}

.placeholder-empty-link {
    z-index: 1;
    background: #fcfcfc;
    height: 100%;
    position: relative;
}

.placeholder-empty-link:hover {
    background: #d9d8d8;
}

.placeholder-empty-link .view-all-text {
    width: 100%;
    color: #c1c1c1;
    position: absolute;
    top: calc(50% - 10px);
    text-align: center;
}

.placeholder-empty-link img {
   opacity: 0;
}

.img-container {
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 25%;
    display: block;
}

.placeholder-empty-link, .img-container {
    border: 1px solid #f0f0f0;
}

.image-album-list {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img-container:hover .image-album-list {
    opacity: 0.3;
}
