/* .album-img:hover {
    -webkit-box-shadow: 2px 5px 12px -2px rgba(105,149,156,1);
    -moz-box-shadow: 2px 5px 12px -2px rgba(105,149,156,1);
    box-shadow: 2px 5px 12px -2px rgba(105,149,156,1);
} */

a.disabled {
    pointer-events: none;
    cursor: default;
}

.gallery-group-container {
    padding: 2px;
    background-color: #eeeeee;
}

.gallery-group {
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.gallery-group:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgb(168, 168, 168, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgb(168, 168, 168, .5);
    box-shadow: 0px 0px 10px 0px rgb(168, 168, 168, .5);
    cursor: pointer;
}

.gallery-group-link {
    color: #00583f;
    padding-top: 5px;
    padding-bottom: 10px;
}

.gallery-group-link span.h5 {
    padding-left: 5px;
}

.gallery-group-link fa {
    padding-left: 5px;
}
.gallery-group-image {
    box-sizing: border-box;
    display: inline-block;
}
.gallery-group-image .album-img {
    background-color: #eee;
    padding:2px;
}
.gallery-group-image .album-img img {
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* border: 3px solid #d9d9d9; */
}