<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xl-2 col-sm-5 navbar-container">
      <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
      <app-menu></app-menu>
    </div>
    <div id="content" class="col-md-9 col-xl-10 col-sm-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="text-center" ng-controller="copyController">
  <p>© {{ title }} {{ date | date: "y"}} </p>
  <ul class="items list-inline">
    <li class="list-inline-item">
      <a routerLink="/about">
        About
      </a>
    </li>
    <li class="list-inline-item">
      <a target="_blank" href="https://www.instagram.com/lurnmaxwell/">
        <i class="fa fa-instagram"></i> <span class="sr-only">Instagram</span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="mailto:mlmxwell@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i> <span class="sr-only">Email</span>
      </a>
    </li>
  </ul>
</footer>

