<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4">
            <app-menu></app-menu>
        </div>
        <div class="col-md-10 col-sm-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer class="text-center" ng-controller="copyController">
    <p class="ng-binding">© {{ title }} {{ date | date: "y"}} </p>
    <ul class="items list-inline">
        <li class="list-inline-item">
            <a routerLink="/about">
                About
            </a>
        </li>
        <li class="list-inline-item">
            <a target="_blank" href="https://www.instagram.com/lur3n/">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="mailto:mlmxwell@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</footer>

