
<div id="galleryWrapperLurn" class="gallery-wrapper">
  <div id="slideshow" class="slideshow" 
  [style.height]="isMobileSize ? '' : desHeight"
  *ngIf="slideshowView">
    <br>
    <h5>Illustration</h5>

    <app-image-gallery 
    [images]="images"
    [illustrations]="illustrations"
    [currentImgIndex]="currentIndex"
    [routerLinkBase]="'/illustration'"
    [currentImg]="currentIll"
    [pagination]="false"
    [homePage]="true"
    [illustrationIds]="true"
    ></app-image-gallery>
  </div>
</div>
