/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    font-size: 0.9rem;
}
#main {
    padding-top: 2rem;
}
a  {
    color: #007a6e;
    text-decoration: underline;
    text-decoration-style: dotted;
}
a:not(.btn):hover, a:not(.btn):focus {
  color: white;
  background-color: #007a6e;
  text-decoration: none;
  border-radius: 2px;
}

.btn {
  border-width: 2px;
  border-style: groove;
  border-color: black;
  background-color: white;
}
/* Reset button to original properties*/
.btn.focus, .btn:focus, .page-link:focus {
  outline: 2px solid -webkit-focus-ring-color;
  box-shadow: none;
}
.btn:focus, .btn.focus .btn:hover {
  background-color: #e9ecef;
}
.link-unstyled:not(.btn),
.link-unstyled:not(.btn):visited,
.link-unstyled:not(.btn):hover,
.link-unstyled:not(.btn):active,
.link-unstyled:not(.btn):focus,
.link-unstyled:not(.btn):active:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  box-shadow: inherit;
  padding: inherit;
  vertical-align: inherit;
}
.navbar-container hr {
  border-bottom: 1px solid #007a6e;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Inconsolata', monospace;
}
footer {
    background: #e6e6e6;
    padding: 30px 0;
}



.navbar-container {
    background: #fafafa;
}

.site-title {
    font-size: 1.25em;
}
.navbar-brand {
    padding: 15px 15px 0 0;
}
.navbar-toggler {
    margin-top: .5em;
}
.navbar-collapse {
    max-height: 450px;
}
.mobile-info {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.navbar-header {
  margin-bottom: 10px;
}

.underground-image {
  /* z-index: 0;
  position: absolute;*/
  width: 100%; 
}

.picture-tile {
  /* position: relative; */
}

.intrinsic {
  position: relative;
  display: block;
}
.intrinsic .intrinsic-item {
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
}

.intrinsic .intrinsic-backgound {
  max-width: 100%;
  min-width: 100%;
  vertical-align: top;
}

.img-zoom {
  position: relative;
  text-align: left;
  overflow: hidden;
}

@media only screen and (min-width: 575px) {
  .img-zoom {
    /* border: 2px solid #e5e5e5;
    border-radius: 3px;
    background: #f1f1f1;
    padding: 2em 2em 0 2em; */
    border: 1px dotted #ffffff;
    padding: 20px;
  }
}

.slide {
  cursor:e-resize;
  width: fit-content;
  display: inline-block;
  text-align: center;
}

.slide.active-slide {
  display: inline-block;
}

@media only screen and (min-width: 575px) {
  .slide {
    display: none;
  }
}

.overlay-controls.right-control .button-right, .overlay-controls.left-control .button-left {
  padding: 10px;
}

.overlay-controls.right-control .button-right {
  cursor: e-resize;
}

.overlay-controls.left-control .button-left {
  cursor: w-resize;
}

.overlay-controls.nav-control {
  height: auto;
  bottom: 0;
  top: auto;
  padding: 5px;
  background-color: white;
}
.overlay-controls.exit-control {
  height: auto;
  background-color: white;
}

.overlay-controls.left-control, .overlay-controls.right-control {
  display: none;
}
@media only screen and (min-width: 575px) {
  .container-main-overlay-controls {
    position: relative;
  }

  .overlay-controls.left-control, .overlay-controls.right-control {
    position: absolute;
    display: inline-block;
    width: fit-content;
    padding: 10px;
    z-index: 10;
    top: 40%;
  }
  .overlay-controls.left-control {
    left: 0;
  }
  .overlay-controls.right-control {
    right: 0;
  }
}
.overlay-controls.center-control {
  display: inline-block;
 
}
@media only screen and (max-width: 575px) {
  .overlay-controls.center-control {
    max-width: 100%;
    width: 100%;
  }
}

.thumbnail-toggle {
  max-width: 100%;
  width: 100%;
  text-align: center;
  display: block;
}

/* Pagination Overrides */
.carousel-pagination .pagination {
  padding-top: 10px;
}

.page-item.active .page-link,
.page-item.active .page-link,
.page-item.disabled .page-link, 
.page-item .page-link {
  border-color: black;
}

.page-item.disabled .page-link {
  border-style: dashed;
  color: black;
}

.page-item.active .page-link {
  background-color: black;
}
.page-item .page-link {
  color: #007a6e;
}
