/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/font-awesome/css/font-awesome.css');

body {
    font-size: 0.9rem;
}
#main {
    padding-top: 2rem;
}
a, btn.btn-link  {
    color: #007f73;
    text-decoration: underline;
    text-decoration-color: #02b9a7;
    text-decoration-style: dotted;
}
a.active {
  color: #000e0c;
}
a:not(.btn-primary):hover, a:not(.btn-primary):focus,
.btn-link:hover, .btn-link:focus {
  color: white;
  background-color: #007f73;
  text-decoration: none;
  border-radius: 2px;
}

.btn.btn-primary {
  border-width: 2px;
  color: #007f73;
  border-style: groove;
  border-color: black;
  background-color: white;
}
/* Reset button to original properties*/
.btn.btn-primary.focus, .btn.btn-primary:focus, .page-link:focus {
  color: #007f73;
  outline: 2px solid -webkit-focus-ring-color;
  box-shadow: none;
}
.btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:hover, .btn.btn-primary:not(:disabled):not(.disabled):active  {
  color: #007f73;
  background-color: #e9ecef;
}
.link-unstyled:not(.btn),
.link-unstyled:not(.btn):visited,
.link-unstyled:not(.btn):hover,
.link-unstyled:not(.btn):active,
.link-unstyled:not(.btn):focus,
.link-unstyled:not(.btn):active:hover {

  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  box-shadow: inherit;
  padding: unset;
  vertical-align: inherit;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Courier New', monospace;
}
footer {
    background: #f7f7f7;
    padding: 30px 0;
}

/* Navigation */
.navbar-container {
    background: #fffff8;
}
.site-title {
  font-size: 1.5em;
  white-space: break-spaces;
}
.primary-menu ul > li {
  font-size: larger;
}

.primary-menu ul > li ul > li {
  font-size: smaller;
}
.navbar-brand {
    padding: 15px 15px 0 0;
}
.navbar-toggler {
    margin-top: .5em;
}
.navbar-collapse {
    max-height: 450px;
}
.mobile-info {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.navbar-header {
  margin-bottom: 10px;
}
@media only screen and (max-width: 574px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-header {
    background-color: #f6f6ec;
    margin-bottom: 0;
  }
}


.underground-image {
  /* z-index: 0;
  position: absolute;*/
  width: 100%; 
}

.intrinsic {
  position: relative;
  display: block;
}
.intrinsic .intrinsic-item {
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
}

.intrinsic .intrinsic-backgound {
  max-width: 100%;
  min-width: 100%;
  vertical-align: top;
}
