<nav class="navbar navbar-fixed-top row">
  <div class="navbar-header col-12">
    <div class="row">
      <div class="col-10">
        <a class="navbar-brand row" routerLink="/">
          <h1 class="site-title">Lurn Maxwell</h1>
        </a>
      </div>
      <div class="col-2 d-block d-sm-none">
        <button type="button" class="navbar-toggler btn btn-primary  float-right" (click)="isCollapsed = !isCollapsed" id="navbar-trigger">
          <fa-icon [icon]="faBars"></fa-icon> <span class="sr-only">Mobile Menu</span>
        </button>
      </div>
    </div>
  </div>

  <div class="navbar-content col-12"
    [ngClass]="{
      'd-none': isCollapsed,
      'd-block': !isCollapsed
    }"
    id="navbar-content">
    <nav aria-labelledby="main-menu" class="primary-menu mt-3">
      <h2 id="main-menu" class="sr-only">Main Menu</h2>

      <app-navigation-menu-block [items]="menuItems">
      </app-navigation-menu-block>
    </nav>
    <div class="navbar-extra col-12">
      <div class="row">
        <ul class="list-inline list-unstyled">
          <li class="list-inline-item">
            <a target="_blank" href="https://www.instagram.com/lurnmaxwell/">
              <fa-icon [icon]="faInstagram" size="2x"></fa-icon> <span class="sr-only">Instagram</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:mlmxwell@gmail.com">
              <fa-icon [icon]="faEnvelope" size="2x"></fa-icon><span class="sr-only">Email</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
