<!-- <div id="thumbnails"
*ngIf="!slideshowView">
  <ng-masonry-grid
  (onNgMasonryInit)="onNgMasonryInit($event)"
  [masonryOptions]="{ gutter: 5, viewportFactor : 1}" 
  [useAnimation]="false"
  [useImagesLoaded]="true"
  > -->
  <!-- Masonry Grid Item -->
    <!-- <ng-masonry-grid-item 
    id="{{'masonry-item-'+i}}" 
    *ngFor="let illustration of illustrations; let i = index;" 
    class="masonry-item"> -->
      <!-- <app-illustration [illustration]="illustration" class="picture">
      </app-illustration> -->
    <!-- Grid Content  -->
    <!-- </ng-masonry-grid-item> -->
  <!-- </ng-masonry-grid> -->
<!-- </div> -->